<% content_for(:title) { "Login" } %>

<div class='form-box' style='margin-top: 100px;'>
  <%= form_tag sessions_path, role: 'form', class: '' do %>
    <h3><%=ENV['APP_NAME']%> </h3>
    <br />
    <div class='input-row'>
      <%= text_field_tag :username, params[:username], class: 'form-control', placeholder: 'Username' %>
    </div>
    
    <div class='input-row'>
      <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Password' %>
    </div>
    

    <div class='input-row' >
      <%= button_tag "Login", class: 'btn btn-primary btn-block' %>
    </div>

  <% end %>
</div>