<%=display_hierachy_for(@user.place) %>

<%=simple_form_for(@user, html: { class: 'form-inline form'}) do |f| %>
  <%#= errors_for @user %>

  <%=f.input :place_id, as: :hidden %>
  <%=f.input :username, label: 'Login', input_html: {class: 'form-control'} %>
  <%=f.input :phone, label: 'Phone Number', required: @user.place.is_kind_of_hc? ,input_html: {class: 'form-control'} %>
  <%=f.input :name, label: 'Full Name', input_html: {class: 'form-control'} %>
  <%=f.input :email, input_html: {class: 'form-control'} %>

  <% if @user.new_record? %>
    <%=f.input :password, input_html: {class: 'form-control'} %>
    <%=f.input :password_confirmation, required: true, label: 'Confirm', input_html: {class: 'form-control'} %>
  <% end %>

  <div class='form-group form-action-group'>
    <label class='control-label'></label>

    <% if !@user.new_record? && @user != current_user  %>
    <%= link_to "Reset password", reset_user_path(@user), 
                :method => :put, 
                :confirm => 'Are you sure to reset password for this user?' ,
                :class => 'btn btn-danger' %>
    <%end %>

    <%=f.submit 'Save', class: 'btn btn-primary' %>

  </div>

<% end %>