<% if users.length > 0 %>
  <table class='table table-striped table-bordered table'>
    <thead>
      <tr>
        <td>Login</td>
        <td>Full Name</td>
        <td>Email</td>
        <td>Number</td>
        <td>Role</td>
        <td class='td-last'></td>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td><%= link_to user.username, edit_user_path(user) %></td>
          <td><%=user.name %></td>
          <td><%=user.email%></td>
          <td><%= highlight(user.phone, params[:phone]) %></td>
          <td><%=user.role%></td>
          <td class='td-last'>
            <% if !user.is_admin? %>
             <%= link_edit " ", edit_user_path(user)  %>
             <%= link_destroy " ", user_path(user), method: :delete, data: { confirm: 'Are you sure to delete' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p style='margin: 30px 0px;'> There is no user for this place </p>
<% end %>

<%= link_to 'New User', new_user_path(place_id: params[:place_id]), class: 'new-user btn btn-primary btn-app' if params[:place_id].present? %>

<div class='tree-content-paginate' >
  <%= paginate_for(@users)%>
</div>