<% content_for(:title) { "User Modification"} %>
<%= breadcrumb [ {"Health Structure" => users_path(place_id: @user.place_id)}, {"User Modification" => nil}] %>

<%= page_header "User Modification" %>

<%= render 'form' %>