<% content_for(:title) { "User Creation"} %>
<%= breadcrumb [ {"Health Structure" => users_path(place_id: @user.place_id)}, {"User Creation" => nil}] %>

<%= page_header "User Creation" %>

<%= render 'form' %>