.alert-animate {
  position: relative;
  z-index: 9999;
  .alert-body{
    position: relative;
    min-width: 300px;
    padding: 10px;
    font-weight: 600;
    @include border-radius(5px);
  }
}

label.required abbr{
  color: red;
  font-weight: bold;
}

form {
  label {
    font-weight: 500
  }
}

.input-row {
  margin-bottom: 10px;
}

label.inline {
  display: inline;
  width: auto !important
}

.inline-short {
  width: 6em !important;
}

.form {
  @include form-inline(10em);
}
.pwd-label {
  border: none;
  margin-left: 30px;
}

.typeahead {
  z-index: 1051;
}

.empty-message{
  padding: 0 15px;
  color: red;
}

.input-row-close{
  margin-top: -10px;
  margin-bottom: 10px;
}
.keyword-highlight {
  background: none repeat scroll 0 0 activecaption;
  margin: 0 3px;
  padding: 0 6px;
  white-space: nowrap;
  @include border-radius(3px);
}

.param-link {
  font-size: 90%;
  font-style: italic;
  color: gray;
}
.header-title {
  font-size: 120%;
  font-weight: bold;
}
.color-danger {
  color: $color-danger;
}
.color-primary {
  color: $color-primary;
}
.btn-icon {
  padding: 5px;
  &:hover{
    text-decoration: none;
  }
}
.td-last {
  width: 80px;
}

em.highlight {
  background: yellow;
}

.feed-title {
  font-size: 18px;
  margin-top: 30px;
}

.page-viewer-border {
  background: #fafafa;
}

.form-box{
  margin: 0 auto;
  width: 500px;
}

.left{
  float: left;
}

.right {
  float: right;
}

td:last-child{
  text-align: right;
}

#myTree {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    padding: 5px;
  }
  ul {
    margin: 0px;
    padding-left: 20px;
  }
  a {
    padding: 5px;
    &.selected {
      background: #ccc;
      @include border-radius(3px);
    }
  }
}

.opener {
  span {
    padding: 0px 2px;
    color: #337ab7;
  }
}

.opened {
  .tree-icon-closed {
    display: none;
  }
  .tree-icon-opened {
    display: inline;
  }
}

.closed {
  .tree-icon-closed {
    display: inline;
  }
  .tree-icon-opened {
    display: none;
  }
}

.tree-content-wrapper {
  margin-bottom: 15px;
}

.p-desc {
  margin-bottom: 30px;
  margin-left: 10px;
  color: gray;
}

.tree-wrapper {
  background: #eee;
  padding: 10px;
  min-height: 350px;
  max-height: 800px;
  position: relative;
  overflow: scroll;
}

.import-wrapper {
  background: #eee;
  padding: 10px;
  min-height: 150px;
  max-height: 820px;
  position: relative;
  overflow: scroll;
}

.tree-action {
  background: #ddd;
  padding: 10px;
}

#notification {
  background: #eee;
  right: 25px;
  top: 65px;
  border: 1px solid #fff;
  position: fixed;
  display: block;
  z-index: 99999;
  min-width: 320px;
  padding: 5px 10px;
  @include border-radius(3px);

  .bs-callout-danger {
    .glyphicon {
      color: red;
    }
  }

  .bs-callout-info {
    .glyphicon{
      color: green;
    }
  }

  .bs-callout {

    h4 {
      border-bottom: 1px solid #fff;
      font-size: 16px;
      margin: 0 -10px;
      padding-bottom: 10px;
      padding-left: 15px;
      padding-top: 5px;
    }
    p {
      padding-top: 10px;
      margin-left: 10px;
    }
  }
}

.breadcrumb {
  .divider {
    margin: auto 10px;
  }
}

.breadcrumb > li + li::before {

}

.search-box {
    background-color: #f7f7f7;
    background-position: center center;
    background-repeat: repeat;
    background-size: auto auto;
    border-color: #c8c8c8;
    border-radius: 5px;
    border-style: solid;
    border-width: 0;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    color: #757575;
    font-size: 16px;
    opacity: 0.8;
    padding: 5px 5px 5px 10px;
    width: 245px;
    z-index: 10034;

    input {
      background: none repeat scroll 0 0 #f7f7f7;
      border: medium none;
      width: 200px;
    }
}


.vb{
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  width: 18px;
}

.vb-green {
  background: green none repeat scroll 0 0;
}

.vb-red {
  background: red none repeat scroll 0 0;
}

.color-green {
  color: green;
}
.color-red {
  color: red;
}
.connection {
  font-size: 18px;
  display:block;
  text-decoration: none;
  &:hover, &:active, &:visited {
    text-decoration: none !important;
  }
}
.report-status {
  width: 24px;
  height: 24px;
}

.report-legend {
  display: block;
  @include border-radius(5px);
  padding: 5px 10px;
  background: #eee;
  margin: 10px;
  width: 100px;
}
.report-new {
  // background: blue;
  font-weight: bold;
}
.report-listened {
  // background: #fef;
}
.report-total {
  // background: green;
}
.gray {
  color: gray;
}

.callout {
  font-style: italic;
}

.icon {
  background: cornflowerblue none repeat scroll 0 0;
  @include border-radius(5px);
  color: #fff;
  padding: 7px;
}
.error-field {
  color: red;
}

@font-face {
  font-family: "FontAwesome";
  src: font_url('fontawesome-webfont.eot');
  src: font_url('fontawesome-webfont.eot?#iefix') format('eot'), font_url('fontawesome-webfont.woff') format('woff'), font_url('fontawesome-webfont.ttf') format('truetype'), font_url('fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
