<script>
  fromWeek = '<%= params[:from_week] %>';
  toWeek = '<%= params[:to_week] %>';
  currentYear = '<%= params[:year].present? ? params[:year] : Time.now.year %>';
</script>

<% year = params[:year].present? ? params[:year].to_i : Time.now.year %>

<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Filter</h3>
  </div>

  <div class="panel-body" style='padding: 10px 0px;'>
    <%= form_tag reports_path, method: 'GET' do |f| %>
      <div class='input-row col-lg-2'>
        <%= label_tag :reviewed, 'Reviewed Status' %>
        <%= select_tag :reviewed, options_for_select([[ "Reviewed", 1], ["New", 0]], params[:reviewed]),
                       class: 'form-control', include_blank: "All" %>
      </div>

      <div class='input-row col-lg-2 year' style="display: none;">
        <%= label_tag :year, 'Period' %>
        <%= select_tag :year, options_for_select(Calendar::Year.new(Time.now.year).near_by(2), year),
                       class: 'form-control' %>
      </div>

      <div class='input-row col-lg-2 from-week-group' style='display: none;'>
        <label>From</label>
        <%= select_tag :from_week, options_for_select(Calendar::Year.new(year).available_weeks.map { |w| [w.display(Calendar::Week::DISPLAY_ADVANCED_MODE), w.week_number]}, params[:from_week]), class: 'form-control', include_blank: 'All' %>
      </div>
      <div class='input-row col-lg-2 to-week-group' style='display: none;'>
        <label>To</label>
        <%= select_tag :to_week, options_for_select(Calendar::Year.new(year).available_weeks.map { |w| [w.display(Calendar::Week::DISPLAY_ADVANCED_MODE), w.week_number]}, params[:to_week]), class: 'form-control', include_blank: 'All' %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :phd, 'PHD' %>
        <%= select_tag :phd, options_for_select(UserContext.new(current_user).phds_list, params[:phd]),
                       class: 'form-control', include_blank: 'All' %>
      </div>

      <div class='input-row col-lg-2'>
        <%= label_tag :od, 'OD' %>
        <%= select_tag :od, options_for_select(UserContext.new(current_user).ods_list(params[:phd]), params[:od]),
                       class: 'form-control', prompt: "All" %>
      </div>

      <div class='input-row col-lg-2'>
        <button class='btn btn-primary' style='margin-top: 25px;'>
          <i class='glyphicon glyphicon-search'> </i> Filter
        </button>
      </div>
    <% end %>
  </div>
</div>
