<% content_for(:title) { "#{@place.my_type} Modification"} %>
<%= breadcrumb [ {"Health Structure" => users_path(place_id: @place.id)}, {"#{@place.my_type} Modification" => nil}] %>

<%= page_header "#{@place.my_type} Modification" %>

<%= render 'form' %>