
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">

      <%=link_to root_path, class: 'navbar-brand' do %>
        <%= ENV['APP_NAME'] %>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>

      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.is_admin? %>
          <li><%= link_to "Dashboards", dashboards_path %> </li>
          <li><%= link_to "Reports", reports_path %> </li>
          <li><%= link_to "Health Structurs", users_path %> </li>
          <li><%= link_to "Settings", settings_path %> </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <i class=''> </i>Alert<span class="caret"> </span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Threshold', alerts_path() %></li>
              <li><%= link_to 'Log', log_alerts_path() %></li>
            </ul>
          </li>
          <li><%= link_to "Channels", channels_path %> </li>
        <% else %>
          <li><%= link_to "Reports", reports_path %> </li>
        <% end %>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class=''> </i> <%= current_user.name %> <span class="caret"> </span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Change Password', profile_users_path() %></li>
            <li><%= link_to 'Sign out', sign_out_path(), method: :delete %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>
